body{
    background-color: rgba(157, 228, 238, 0.918);
}

.salvar{
    margin: 10% 45%;
}

.banner{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: rgba(71, 112, 117, 0.918);
    width: 100%;
    height: 20%;
    font-size: 900%;
    color:white;
    text-align: center;
}

.footer{
    bottom: 0;
    display: block;
    background-color: rgba(71, 112, 117, 0.918);
    width: 100%;
    height: 10%;
    color:white;
    text-align: center;
    padding: 2%;
    font-style: italic;

}

.container{
    padding: 5% 10%;
}

.profilepic{
    display:block;
    margin: 5px;
    width: 30%;
    height: 50%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border: solid 1px;
}