.main{
    position: absolute;
    display: block;
    background-color: rgba(157, 228, 238, 0.918);
    width: 100%;
    height: 100%;
}

.banner{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: rgba(71, 112, 117, 0.918);
    width: 100%;
    height: 20%;
    font-size: 900%;
    color:white;
    text-align: center;
}

.footer{
    position:absolute;
    bottom: 0;
    display: block;
    background-color: rgba(71, 112, 117, 0.918);
    width: 100%;
    height: 10%;
    color:white;
    text-align: center;
    padding: 2%;
    font-style: italic;

}



.profile-info{
    /* border: solid; */
    position: absolute;
    width: 20%;
    height: 70%;
    text-align: center;
    align-items: center;
    
}

.happen{
    margin-top: 1%;
    position: absolute;
    left: 38%;
    float: right;
    /* border: solid; */
    width: 46%;
    height: 70%;
    text-align: center;
}

.evento{
    margin-top: 1%;

    height: 12%;
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    /* border-color:rgba(71, 112, 117, 0.918);
    
    border-style: groove; */
    border-radius: 13px;
    color: rgba(71, 112, 117, 0.918);
}

.tinypic{
    margin: 15px;
    width: 10%;
    height: 60%;
    border-radius: 52%;
    float: left;
    vertical-align: middle;    
}

.eventotext{
    margin-top: 2%;
}
.profilepic{
    display:block;
    margin: 5px;
    width: 60%;
    height: 30%;
    border-radius: 52%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}
.textoprofile{
    color: rgba(71, 112, 117, 0.918);
    text-shadow: 1px 1px white;
    padding: 1px;
    margin:0;
    margin-left: 5%;
}
.mybutton{
    border-radius: 5px;
    width: 100%;
    border: none;
    background: rgba(71, 112, 117, 0.918);
    color: rgb(68, 68, 235);
    margin-top: 3px;
    font-weight: 700;
    text-shadow: 1px 1px black;
}



.disponivel{
    color: rgb(59, 255, 75);
    text-shadow: 1px 1px black;
}

.indisponivel{
    color: rgb(255, 59, 59);
    text-shadow: 1px 1px black;
}